.ant-card img{
    width: 100%
}



@media screen and (max-width: 576px) {
    .grid-sizer { width: 50%; }
}
@media (min-width: 768px) and (max-width: 992px) {
    .grid-sizer { width: 33%; }
}
@media screen and (min-width: 992px) {
    .grid-sizer { width: 25%; }
}


.listItem {
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #ccc;
    background-position: center;
    background-repeat: no-repeat;
}
.listEntry{
    padding: 0;
    display: block;
    background: none;
    border: none;
    cursor: pointer;
}
.listEntryImage {
    display: block;
    width: 100%;
    height: auto;
}
  